* {
	box-sizing: border-box;
}
html {
    font-size: 16px;
    line-height: 26px;      
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;    
}
body {
	background: white;
    font-family: 'Open Sans', sans-serif;
}

/* =========== */
/* general tags */
/* =========== */

/* Make HTML 5 elements display block-level for consistent styling */
main, article, section, aside, hgroup, nav, header, footer, figure, figcaption {
    display: block;
}

p {
	padding: 10px 0;
}


ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* =========== */
/* header area */
/* =========== */

header {
    min-height: 150px;
    background-image: url('../img/SeamlyWebsite.PNG');
    background-repeat:no-repeat;
    background-size: cover;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    overflow:hidden; /* for float if flex not supported */
}
header h1 {
    padding-top: 2rem;
    padding-left: 2rem;
    color: white;
    font-family: 'Georgia', serif;
    font-size: 3rem
    line-height: normal;
    text-transform: none;
    font-weight: none;
};

.quote {
    color: white;
    font-size: 1.5rem;
    font-family: 'Georgia', serif;
    padding: 0;
    text-align: -webkit-center;
}
.quote p {
    font-family: 'Calibri', sans-serif;	
	font-size: 1.5rem;
	color: white;
    margin: 0;
}
#logo {
    float: left;
    /* to deal with flex */
    flex-shrink:0;
    margin:auto;/* or 0 or auto auto auto 0 or ... */
}
nav {
    float: right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-right: 3rem;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}

/* ============= */
/* miscellaneous */
/* ============= */


::selection {
	background: #000000;
	color: #ffffff;
}

::-moz-selection {
	background: #000000;
	color: #ffffff;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* ========= */
/* Work Area */
/* ========= */
h1, h2, h3 {
	font-family: 'Open Sans Condensed', sans-serif;	
}

h1, h2 {
	font-size: 60px;
	line-height: 60px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	font-weight: bold;
}

h3 {
	font-size:30px;
	line-height: 30px;
	padding-top: 5px;
	text-transform: uppercase;
	left: 0.75px;
}

.item1 { 
    grid-area: product; 
    border: 1px solid black;
} /* About Me */
.item2 { 
    grid-area: cloud; 
    border: 1px solid black;
}  /* Work */
.item3 { 
    grid-area: sephiroth; 
    border: 1px solid black;
}  /* Contact Me */

.container {
    width: 100%;
	margin: 1rem 0 0 0;
    padding: 0;
	display: grid;
    float: left;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-template-areas: 
	"product product cloud cloud"
	"product product sephiroth sephiroth";
}

.container > div {
	display: grid;
	min-height: 440px;
	align-items: center;
    transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
}

/* PS4 Available now */
.item1 {
	position: relative;
	color: #FFFFFF;
	text-shadow: 0 2px 2px rgba(0,0,0,0.50);
}

.item1 div {
	max-width: 45%;
	justify-self: center;
	text-align: center;
	color: #ffffff;
}

.item1 div .copy {
	max-width: 100%;
}

.item1 div img {
	display: block;
	max-width: 260px;
	margin: 0 auto 2em auto;
}

/* CLOUD */
.item2 {
	position: relative;
	background-image: linear-gradient(135deg, #FFFFFF 0%, #829492 100%);
	color: #3D3D3D;
}

.item2 div {
	width: 60%;
	padding: 5%;
}

.item2 div h2 {
	color: #000000;	
}

.item2 div h3 {
	color: #14AF95;
}

.item2 div img {
	display: block;
	position: absolute;
	bottom: 0px;
	right: 2%;
	width: 40%;
}

/* SEPHIROTH */
.item3 {
	position: relative;
	background-image: linear-gradient(-44deg, #000000 0%, #3E504E 100%);
	color: #CCCCCC;
	text-shadow: 0 2px 2px rgba(0,0,0,0.50);
}

.item3 div {
	width: 100%;
	padding: 5% 11% 5% 40%;
}

.item3 div h2 {
	color: #ffffff;	
}

.item3 div img {
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 30%;
}
/* item4 */
.item4 {
	position: relative;
	background-image: linear-gradient(-44deg, #000000 0%, #3E504E 100%);
	color: #CCCCCC;
	text-shadow: 0 2px 2px rgba(0,0,0,0.50);
}
.item4 div {
	width: 100%;
	padding: 5% 11% 5% 40%;
}

.item4 div h2 {
	color: #ffffff;	
}

.item4 div img {
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 30%;
}
/* item5 */
.item5 {
	position: relative;
	background-image: linear-gradient(-44deg, #000000 0%, #3E504E 100%);
	color: #CCCCCC;
	text-shadow: 0 2px 2px rgba(0,0,0,0.50);
}
.item5 div {
	width: 100%;
	padding: 5% 11% 5% 40%;
}

.item5 div h2 {
	color: #ffffff;	
}

.item5 div img {
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 30%;
}
/* item6 */
.item6 {
	position: relative;
	background-image: linear-gradient(-44deg, #000000 0%, #3E504E 100%);
	color: #CCCCCC;
	text-shadow: 0 2px 2px rgba(0,0,0,0.50);
}
.item6 div {
	width: 100%;
	padding: 5% 11% 5% 40%;
}

.item6 div h2 {
	color: #ffffff;	
}

.item6 div img {
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 30%;
}

/* ======= */
/* queries */
/* ======= */

@media screen and (max-width: 600px) {
	h1, h2 {
		font-size: 50px;
		line-height: 50px;
	}
	
	h3 {
		font-size:24px;
		line-height: 24px;
	}
	
	.container {
			max-width: 100%;
			margin: 0;
			grid-template-areas: 
			"product product product product"
			"cloud cloud cloud cloud"
			"sephiroth sephiroth sephiroth sephiroth"
			"aerith aerith aerith aerith"
			"tifa tifa tifa tifa"
			"barret barret barret barret"
			"playstation playstation playstation playstation"
			"squareenix squareenix squareenix squareenix";
	}
	
	.container > div {
		display: grid;
		min-height: 300px;
		align-items: center;
	}
	
	/* PRODUCT */
	.item1 div {
		align-items: center;
		max-width: 80%;
		padding: 5%;
	}
	
	.item1 div img {
		max-width: 50%;
	}
	
	.item1 div .copy {
		padding: 0;
	}

	/* CLOUD */
	.item2 div {
		width: 100%;
		padding: 5% 5% 80% 5%;
	}

	.item2 div img {
		right: 2%;
		width: 70%;
	}

	/* SEPHIROTH */
	.item3 div {
		padding: 5% 5% 85% 5%
	}

	.item3 div img {
		width: 55%;
	}


/* ====================== */
/* TABLET WIDTH - PORTRAIT */
/* ====================== */

@media screen and (min-width:601px) and (max-width:800px) {

	.container {
		max-width: 100%;
		margin: 0;
		grid-template-areas: 
		"product product product product"
		"cloud cloud cloud cloud"
		"sephiroth sephiroth sephiroth sephiroth"
		"aerith aerith aerith aerith"
		"tifa tifa tifa tifa"
		"barret barret barret barret"
		"playstation playstation squareenix squareenix";
	}
	.container > div {
		display: grid;
		min-height: 300px;
		align-items: center;
	}
	
	/* PRODUCT */
	.item1 div {
		align-items: center;
		max-width: 60%;
		padding: 5%;
	}
	
	.item1 div img {
		max-width: 50%;
	}
	
	.item1 div .copy {
		padding: 0;
	}

	/* CLOUD */
	.item2 div {
		width: 100%;
		padding: 0 50% 5% 10%;
	}

	.item2 div img {
		right: 2%;
		width: 45%;
	}

	/* SEPHIROTH */
	.item3 div {
		padding: 0 40% 5% 10%;
	}

	.item3 div img {
		left: inherit;
		right: 0;
		width: 35%;
		transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
	}
}