* {
	box-sizing: border-box;
}
html {
    font-size: 16px;
    line-height: 26px;      
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;    
}
body {
    color: black;
	background: white;
    font-family: 'Open Sans', sans-serif;
}
p {
    padding: 0;
    margin: 0;
}

/* =========== */
/* header area */
/* =========== */

topbar {
    min-height: 150px;
    background-image: url('../img/banner.png');
    background-repeat:no-repeat;
    background-size: cover;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    overflow:hidden; /* for float if flex not supported */
}
topbar h1 {
    padding-top: 2rem;
    padding-left: 2rem;
    color: white;
    font-family: Georgia, serif;
    font-size: 2rem;
    line-height: normal;
    text-transform: none;
    font-weight: none;
};

.quote {
    color: white;
    padding: 0;
    float: right;
}
.quote p {
    margin: auto 0;
    font-size: 1.5rem;
    font-family: Georgia, serif;
    color: white;
    text-align: center;    
}
nav {
    float: right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-right: 3rem;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}

/* ========= */
/* Work Area */
/* ========= */
.bottom-left {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}
.grid-container {
	display: grid;
	color: black;
	font-size: 1.25em;
    max-width: 1200px;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: 9.376rem 1fr 8.125rem  6.25rem;     
    grid-gap: 2rem; 
    @media screen 
    and (min-device-width: 768px) { 
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: 9.376rem 18.75rem 8.125rem  6.25rem;         
    } 
    @media only screen 
    and (min-device-width: 300px) {
        grid-template-columns: repeat(1, 1fr); 
        grid-template-rows: 9.376rem 25rem repeat(2, 18.75rem) repeat(2, 8.125rem) repeat(2, 6.25rem);          
    }
}

.about1 {
    /* about-text */
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
	grid-column: span 1;
    grid-row: span 3;
    padding-top: 10%;
    text-align: right;   
    border-right: 1px solid black; 
    margin-top: 5%; 
}
.about1 p {
    padding: 2rem;
    margin: 0;
}
.about2 {
	grid-column: span 2;
    padding-left: 1em;
    padding-right: 1em;
}
.about2 p {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-transform: none;
    font-size: 1.5rem;   
}
.about3 {
	grid-column: span 2;
	padding: 1em; 
    margin: auto; 
    max-height: 200px;    
}
.about3 img {
    max-width: 150px;
    float: right;
}

.work1 {
    /* Work text */
	grid-column: 1 / span 1;
    grid-row: span 5;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;  
    text-align: right; 
    border-right: 1px solid black;     
}
.work1 p {
padding: 2rem;
margin: 0;
}
.site1 {
	grid-column: span 2; 
    grid-row: span 3;
    background-color:lightslategray;
    padding: 1rem;
}
.site1 p {
    background-color: lightgray; 
    color: black;   
}
.site1 img {
    object-fit: cover;
    width: 100%;
    float: top; 
    transition: 0.5s all ease-in-out;       
}
.site2 {
	grid-column: span 1;
    background-color: lightslategray;
    padding: 1rem;
}
.site2 img {
    object-fit: cover;
    width: 100%;
    transition: 0.5s all ease-in-out;       
}
.site3 {
    display: inline-block;
	grid-column: span 1;
    grid-auto-rows: max-content; 
    background-color: lightslategray;
    padding: 1rem;        
}
.site3 img {
    object-fit: cover;
    width: 100%;
    max-height: 100%; 
    transition: 0.5s all ease-in-out;  
}
.site1:hover img {
    transform: scale(1.15);
}
.site2:hover img {
    transform: scale(1.15);
}
.site3:hover img {
    transform: scale(1.15);
}
.contact1 {
    /* contact-label */
    display: block;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
	grid-column: 1 / span 1;
    grid-row: span 1;
    padding-top: 10%;
    padding-right: 1rem;
    text-align: right;   
    border-right: 1px solid black; 
}
.contact2 {
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    grid-column: span 1; 
    grid-row: span 1;   
    grid-column: span 1; 
    grid-row: span 1;
    justify-self: center;
    margin: auto;
    border: 1rem solid lightslategray;
    background-color: white;
    padding: 1rem;    
}
.contact3 {
    display: inline-block;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;    
    grid-column: span 1; 
    grid-row: span 1;
    justify-self: center;
    margin: auto;
    border: 1rem solid lightslategray;
    background-color: white;
    padding: 1rem;    
}

/* -----if statements----- */


